  
@import url(styles/header.css);
:root{
    --rosa:#ff4fb0f7; --fundo-preto:#000000e4;
    --preto:#000000; --fonte-projeto:"Dosis";

}
body{
    background-color: var(--amarelo);
    margin: 0; font-family: var(--fonte-projeto);
}