  
@import url(styles/header.css);
:root{
    --amarelo:#ff4fb0f7; --fundo-azul:#23239de4;
    --lilas:#000000; --fonte-projeto:"Dosis";

}
body{
    background-color: var(--amarelo);
    margin: 0; font-family: var(--fonte-projeto);
}